/* Estilos Generales */
body {
    font-family: 'Arial', sans-serif;
    background-image: url('/static/mapa.png'); /* Fondo */
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Contenedor principal */
.container {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco translúcido */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 30px;
    width: 90%;
    max-width: 1200px;
}

/* Sección de Formulario */
.form-section {
    width: 45%;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #4CAF50;
    font-size: 2rem;
    margin-bottom: 20px;
}

h2 {
    color: #ff9800;
    font-size: 1.5rem;
    margin-top: 20px;
}

/* Formulario */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

select {
    padding: 12px;
    margin: 15px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 80%;
    max-width: 300px;
    font-size: 1.2rem;
}

button {
    padding: 12px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

/* Sección de Mapa y Resultados */

/* Sección de Mapa */
.map-section {
    width: 45%;
    height: 400px; /* Ajustamos la altura del mapa */
    background-image: url('/static/maps.png'); /* Reemplaza con la ruta correcta de la imagen */
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    position: relative;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Lista de resultados */
.results-section {
    background-color: #ffffff;
    padding: 15px;
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    font-size: 1rem;
    color: #333;
    margin: 5px 0;
}


